<div class="container">
  <table class="table table-bordered">
    <tr>
      <th>id</th>
      <th>名称</th>
      <th>价格</th>
      <th>图片</th>
    </tr>
    <tr ng-repeat="prod in products">

      <td class="col-md-2">{{prod.id}}</td>
      <td class="col-md-2">{{prod.name}}</td>
      <td class="col-md-2">{{prod.price}}</td>
      <td class="col-md-6">
        <span ng-repeat="img in prod.orderImages">
          <img ng-src="{{img}}" alt=""/>
        </span>
      </td>
    </tr>
  </table>
</div>
