<!--单商品预览-->
<div class="container">

  <div class="row" style="position: relative">
    <div style="position: absolute;top:12px;right: 6%;z-index:1000">
      <img src="assets/images/waiting/waiting-pure-blue.gif" ng-show="StateDesc.mainProcessing" style="width: 100px"
           alt="处理中"/>
      <button class="btn" ng-class="StateDesc[mainState][1]" ng-click="mainEdit()" ng-hide="mainState==1">
        {{StateDesc[mainState][0]}}
      </button>
      <button class="btn glyphicon glyphicon-remove" ng-click="mainCancel()" ng-show="mainState">取消</button>
      <button class="btn glyphicon glyphicon-circle-arrow-left" ui-sref="products.template">返回列表</button>
    </div>
    <div class="col-md-3">
      <div class="form-group" style="white-space:nowrap;overflow-x: hidden;overflow-y: auto">
        <div ng-show="!mainState">
          <img ng-src="{{productIns.pImagUrl}}" style="height: 300px" alt="商品图片未提供"/>
        </div>
        <div ng-show="mainState">
          <!--文件上传-->
          <single-img-upload src="productIns.pImagUrl"></single-img-upload>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="form-group">
        <h3 ng-bind="productIns.productName"></h3>
      </div>

      <table class="table table-stripped">
        <tr>
          <td class="col-md-4">
            <div class="form-group"><label>产品类型:</label>
              <span ng-show="!mainState" ng-bind="productIns.productTypeName"></span>
              <input ng-show="mainState" ng-model="productIns.productTypeName"/>
            </div>
          </td>
          <td class="col-md-4">
            <div class="form-group"><label>库存:</label>
              <span ng-show="!mainState" ng-bind="productIns.tCount"></span>
              <input ng-show="mainState" ng-model="productIns.tCount"/>
            </div>
          </td>
          <td class="col-md-4">
            <div class="form-group"><label>销售量:</label>
              <span ng-show="!mainState" ng-bind="productIns.tSaleCount"></span>
              <input ng-show="mainState" ng-model="productIns.tSaleCount"/>
            </div>
          </td>

        </tr>
        <tr>
          <td class="col-md-4">
            <div class="form-group"><label>评论数:</label>
              <span ng-show="!mainState" ng-bind="productIns.commentCNT"></span>
              <input ng-show="mainState" ng-model="productIns.commentCNT"/>
            </div>
          </td>
          <td class="col-md-4">
            <div class="form-group"><label>好评数:</label>
              <span ng-show="!mainState" ng-bind="productIns.tGoodReplyCnt"></span>
              <input ng-show="mainState" ng-model="productIns.tGoodReplyCnt"/>
            </div>
          </td>
          <td class="col-md-4">
            <div class="form-group"><label>有图评论:</label>
              <span ng-show="!mainState" ng-bind="productIns.imgCommentCNT"></span>
              <input ng-show="mainState" ng-model="productIns.imgCommentCNT"/>
            </div>
          </td>
        </tr>
        <tr>
          <td class="col-md-4" colspan="2">
            <div class="form-group"><label>上线时间:</label>
              <span ng-show="!mainState" ng-bind="productIns.onSaleTime|date:'yyyy-MM-dd HH:mm:ss'"></span>
              <p class="input-group" ng-show="mainState">
                <input ng-model="productIns.onSaleTime" type="date" class="form-control"
                       datepicker-popup
                       is-open="on_opened"
                       min-date="minDate"
                       max-date="'2020-06-22'"
                       datepicker-options="yyyy-MM-dd" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="on_opened=true">
                  <i class="glyphicon glyphicon-calendar"></i></button>
              </span>
                <timepicker ng-model="productIns.onSaleTime"
                            show-meridian="false" arrowkeys="false"
                            show-spinners="false"
                            ng-change="changed()"></timepicker>

              </p>
            </div>
          </td>
          <td class="col-md-4">
            <div class="form-group"><label>咨询量:</label>
              <span ng-show="!mainState" ng-bind="productIns.consultcnt"></span>
              <input ng-show="mainState" ng-model="productIns.consultcnt"/>
            </div>
          </td>
        </tr>
        <tr>
          <td class="col-md-4" colspan="2" >
            <div class="form-group"><label>下线时间:</label>
              <span ng-show="!mainState" ng-bind="productIns.offSaleTime|date:'yyyy-MM-dd HH:mm:ss'"></span>
              <p class="input-group" ng-show="mainState">
                <input ng-model="productIns.onSaleTime" type="date" class="form-control"
                       datepicker-popup
                       is-open="off_opened"
                       min-date="minDate"
                       max-date="'2020-06-22'"
                       datepicker-options="yyyy-MM-dd" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="off_opened=true">
                  <i class="glyphicon glyphicon-calendar"></i></button>
              </span>
                <timepicker ng-model="productIns.offSaleTime"
                            show-meridian="false" arrowkeys="false"
                            show-spinners="false"
                            ng-change="changed()"></timepicker>
              </p>
            </div>
          </td>

        </tr>
      </table>
    </div>
  </div>

  <div class="row">
    <tabset>
      <tab active="true">
        <tab-heading>
          <span>产品参数</span>
          <img src="assets/images/waiting/waiting-pure-blue.gif" ng-show="StateDesc.infoProcessing" alt="处理中"/>
          <button class="btn-link" ng-class="StateDesc[infoState][1]" ng-click="infoEdit()" ng-hide="infoState==1"
                  title="{{StateDesc[infoState][0]}}">
          </button>
          <button class="btn-link glyphicon glyphicon-remove" ng-click="infoCancel()" ng-show="infoState"
                  title="取消"></button>
        </tab-heading>
        <div>
          <table class="table table-stripped">
            <tr>
              <td class="col-md-4">
                <div class="form-group"><label>主要规格:</label><h6 ng-bind="productInfo.productInfo"></h6></div>
              </td>
              <td class="col-md-4">
                <div class="form-group"><label>产品描述:</label><h6 class="mute" ng-bind="productInfo.productDescription"></h6>
                </div>
              </td>
            </tr>
          </table>
          <div class="col-md-12">
            <p ng-show="!infoState" ng-bind-html="productInfo.productDetails" ready=""></p>
            <div ng-show="infoState" style="position: relative">
              <div ckeditor ng-model="productInfo.productDetails"></div>
              <div>
                <button class="btn btn-success" style="position:absolute;top:0;right:0;width: 100px"
                        ng-click="openImgPicker()">上传图片
                </button>
              </div>
            </div>
          </div>
        </div>
      </tab>
    </tabset>
  </div>
</div>
