<!--单商品预览-->
<div class="container">
  <div class="form-group">
    <div class="alert alert warning">
      视图数据:
      {{singleProduct|json}}
    </div>

    <h1>商品详情</h1>
    <label>名称:</label>
    <input type="text" class="form-control" placeholder="名称" ng-model="singleProduct.name"/>
  </div>
  <div class="form-group">
    <label>名称:</label>
    <input type="text" class="form-control" placeholder="价格" ng-model="singleProduct.price"/>
  </div>


  <div class="form-group">
    <label>图片:</label>
    <span ng-repeat="pic in singleProduct.orderImages">
            <img ng-src="{{pic}}" alt="图片" style="width:50px;height: 50px"/>
    </span>
  </div>

  <div class="form-group">
    <label>详情:</label>
    <pre class="code">
      电信流量包,速来购!
    </pre>
  </div>

  <button ng-click="back()">返回</button>
  <button ng-click="edit()">编辑</button>
  <ui-view></ui-view>
</div>
