<ui-view>
  <!--当前状态products.template,如果此状态视图中包含ui-view,那么由子视图填充,如果非子状态激活,而是自我激活(左侧模板导航点击后,那么右侧)默认载入内容,-->
  <!--换句话说,当前模板子状态激活,那么子状态会把自己的携带的模板填入父锚(hook,即本页的ui-view)-->
  <div class="container">
    <h1>虚拟商品列表({{products.length}})
      <button class="btn btn-primary">
        <i class="glyphicon glyphicon-plus"></i>增加
      </button>
    </h1>

    <table class="table table-striped">
      <tr>
        <th>id</th>
        <th>名称</th>
        <th>库存</th>
        <th>图片</th>
        <th>销售量</th>
        <th>好评数</th>
        <th>评论数</th>
        <th>有图评论</th>
        <th>咨询量</th>
        <th>上线时间-下线时间</th>
        <th></th>
      </tr>


      <tr ng-repeat="product in products">
        <td>{{product.productID}}</td>
        <td>{{product.productName}}</td>
        <td>{{product.tCount}}</td>
        <td>
          <img ng-src="{{product.pImagUrl}}" alt="商品图片" style="width:50px;height: 50px" />
        </td>

        <td>{{product.TSaleCount}}</td>
        <td>{{product.TGoodReplyCnt}}</td>
        <td>{{product.commentCNT}}</td>
        <td>{{product.imgCommentCNT}}</td>
        <td>{{product.consultcnt}}</td>
        <td>{{product.onSaleTime}}/{{product.offSaleTime}}</td>


        <!--<td><span class="btn btn-primary" ui-sref="products.template.single({prodId:product.id})">详情</span></td>-->
        <td><span class="btn btn-primary" ng-click="goExplicit({prodId:product.productID})">详情</span></td>
        <!--<td>{{product}}</td>-->
      </tr>
    </table>


  </div>
</ui-view>
