<div class="modal-body" style="min-height: 400px">

  <tabset>
    <tab ng-repeat="tab in tabs" heading="{{tab.heading}}" active="tab.active">

      <div ng-include src="tab.template"></div>

    </tab>
  </tabset>


</div>

<div class="modal-footer">
  <div class="row">
    <div class="col-md-4 col-md-offset-8 col-xs-12">
      <button class="btn btn-primary pull-right" ng-click="insertSelected()">插入选中</button>
      <!--<button class="btn btn-primary" ng-click="ok()">插入</button>-->
      <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
  </div>
</div>


<!--//模板////////////////////////////-->

<script type="text/ng-template" id="tab-upload.html">
  <div class="btn-group">
    <button ngf-select
            class="pull-left btn btn-info"
            ngf-multiple="true"
            ngf-accept="'image/*'"
            ng-model="imgPickerCtx.files"
            ngf-keep-distinct="true"
            ngf-keep="true"
            ngf-drop>
      <!--<div class="btn btn-default">-->
      <h6>增加图片/或者拖放在这里</h6>
      <!--</div>-->
    </button>
    <button class="btn btn-warning" ng-click="imgPickerCtx.upload(imgPickerCtx.files)"><h6>上传</h6></button>
  </div>
  <div class="col-md-12 col-xs-12" ui-sortable ng-model="imgPickerCtx.files">
    <div class="col-md-2 col-xs-6" ng-repeat="file in imgPickerCtx.files">
      <div>
        <div>
          <div class="close" ng-click="imgPickerCtx.files.splice($index,1)">&times;</div>
          <img ngf-src="file" ngf-accept="'image/*'" style="width:100%;padding: 15px">

          <center style="width:100%"><span ng-bind="file.name"></span></center>
        </div>
      </div>
    </div>
  </div>

  <!--进度条-->
  <progressbar value="imgPickerCtx.progressPercentage"
               ng-if="imgPickerCtx.progressPercentage>=0 && imgPickerCtx.progressPercentage<1">
        <span style="color:black; white-space:nowrap;">
        {{imgPickerCtx.progressPercentage}}</span></progressbar>
</script>
<script type="text/ng-template" id="tab-select.html">
  <!--上传之后-->
  <div class="container" ng-if="uploadResult.length">
    <h2>最近上传</h2>
    <div class="row">
      <div class="col-md-2 col-xs-6" ng-repeat="file in uploadResult">
        <div>
          <label class="checkbox" style="cursor:pointer">
            <input type="checkbox" ng-click="file.selected=true" />
            <p ng-bind-html="file.eurl"></p>
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <h2>服务端图片</h2>
    <div class="row">
      <div class="col-md-2 col-xs-6" ng-repeat="file in servedImages">
        <div>

          <label class="checkbox" style="cursor:pointer">
            <input type="checkbox" ng-click="file.selected=true" />
            <p ng-bind-html="file.eurl"></p>
          </label>

        </div>
      </div>
    </div>
  </div>

</script>

